@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html{
  scroll-behavior: smooth;
}
:root{
  --ff-primary: "Inter", sans-serif;

  --fs-primary-100: 56px;
  --fs-primary-200: 84px;

  --fs-secondary-100: 12px;
  --fs-secondary-200: 14px;
  --fs-secondary-300: 16px;
  --fs-secondary-400: 20px;
}
.fs-primary-100{
  font-size: var(--fs-primary-100);
}
.fs-primary-200{
  font-size: var(--fs-primary-200);
}
.fs-secondary-100{
  font-size: var(--fs-secondary-100);
}
.fs-secondary-200{
  font-size: var(--fs-secondary-200);
}
.fs-secondary-300{
  font-size: var(--fs-secondary-300);
}

.btn--color{
  transition: all 300ms ease;
  background: transparent;
}
.btn--color:hover{
  background: linear-gradient(180deg, rgb(243, 135, 68) 0%, rgb(255, 114, 98) 100%);
  color: white;
}
/* hovers */

body{
  background: white;
  width: 100%;
  height: 100vh;
  font-family: var(--ff-primary);
}

.ul-container .line{
  width: 0%;
  height: 2px; border-radius: 10px;
  background: black;
  transition: all 200ms ease-in;
  opacity: 0;
}
.ul-container:hover .line{
  width: 100%;
  opacity: 1;
}
  